booking.login.url=http://booking.theparklangleyclub.co.uk:82/source1/Index.php
booking.url=http://booking.theparklangleyclub.co.uk:82/source1/bcsynp.php
booking.screen.url=http://booking.theparklangleyclub.co.uk:82/source1/BookingScreen.php
booking.calendar.url=http://booking.theparklangleyclub.co.uk:82/source1/SelectDateFromCalendar.php

users.list=1,2,3,4,5,6,7,8
#users.list=7
#users.list=1,2,3

courts.to.book=5,5,6,6,1,2,3,4,5,6
sessions.to.book=2,3,4,5,6,7
#sessions.to.book=1,2

thread.per.user=10

1.user=
1.name=
1.password=

2.user=
2.name=
2.password=

3.user=
3.name=
3.password=

4.user=
4.name=
4.password=

5.user=
5.name=
5.password=

6.user=
6.name=
6.password=

7.user=
7.name=
7.password=

8.user=
8.name=
8.password=

#Willett park=17
park=17

#customDate=11-Jun-2018


mail.from=
#mail.to=emai.adress1@domain.com,email.address2@domain.com
mail.to=
mail.subject=Successful booking sessions
mail.host=smtp.virginmedia.com
mail.username=
mail.password=